.ingredients__container {
  gap: 0.5rem;
  text-align: left;
  margin: 1rem;
}

.ingredient__checkbox {
  visibility: visible;
}

.ingredients__list {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
