.main {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  min-width: 320px;
}

.main__list_title {
  font-size: 1.75rem;
  color: #233;
  letter-spacing: 3px;
  font-family: "Raleway";
  line-height: 2rem;
}

.main__tag-selector {
  margin-bottom: 24px;
}

.alcohols_container {
  display: flex;
  justify-content: space-around;
  gap: 2.5rem;
  margin: 2rem 0;
}

.ingredients_container {
  display: flex;
  justify-content: space-around;
  gap: 2.5rem;
  margin: 2rem 0;
}

.alcohol__checkbox_label {
  padding-left: 0.8rem;
  font-size: 1.25rem;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
  font-family: "Raleway";
  line-height: 2rem;
}

.ingredient__checkbox_label {
  padding-left: 0.8rem;
  font-size: 1.25rem;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
  font-family: "Raleway";
  line-height: 2rem;
}

.tag__list-element {
}

.main__map {
  align-items: center;
}

.main__footer {
  display: flex;
  justify-content: center;
}

.main__resource-center {
}

@media screen and (max-width: 800px) {
  .main {
    padding-bottom: 30px;
  }

  .main__content {
    display: flex;
    flex-direction: column-reverse;
  }

  .main__footer {
    margin-top: 50px;
  }
}
