.alcohols__container {
  gap: 0.5rem;
  text-align: left;
  padding: 0;
  margin: 0;
}

.alcohol__checkbox {
  visibility: visible;
}

.alcohols__list {
  list-style: none;
  columns: 30rem 3;
  -webkit-columns: 30rem 3;
  -moz-columns: 30rem 3;
}
