.alcohols__container {
  gap: 0.5rem;
  text-align: left;
  margin: 1rem;
}

.alcohol__checkbox {
  visibility: visible;
}

.alcohols__list {
  list-style: none;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
