.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__logo {
  margin-bottom: 10px;
  margin-left: 20px;
  width: 100px;
  border: none;
  border-radius: 50%;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}

.header__container-title {
  margin: 0;
  font-family: "Cinzel Decorative", serif;
  font-size: 5rem;
  font-weight: 400;
  color: rgb(92, 122, 106);
  text-transform: lowercase;
  max-width: 800px;
  line-height: 4.5rem;
  margin-bottom: 50px;
}

.header__container-description {
  margin: 5px 0 10px 0;
  font-size: 45px;
  color: rgba(184, 123, 49, 0.808);
  font-family: "Gardena Holmes Script DEMO", sans-serif;
}

@media screen and (max-width: 800px) {
  .header__logo {
    width: 100px;
  }

  .header__container-title {
    font-size: 4rem;
    max-width: 600px;
    line-height: 3.5rem;
  }

  .header__container-description {
    font-size: 16px;
  }
}
@media screen and (max-width: 700px) {
  .header__container-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .header__container-title {
    font-size: 2.5rem;
    max-width: 400px;
    margin-bottom: 20px;
  }
}
