.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__logo {
  margin-bottom: 10px;
  margin-left: 20px;
  width: 100px;
  border: none;
  border-radius: 50%;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}

.header__container-title {
  margin: 0;
  font-family: "Cinzel Decorative", serif;
  font-size: 5rem;
  font-weight: 400;
  color: rgb(92, 122, 106);
  text-transform: lowercase;
  max-width: 800px;
  line-height: 4.5rem;
  margin-bottom: 50px;
}

.header__container-title.spring {
  color: rgb(92, 122, 106);
}

.header__container-title.summer {
  color: rgb(194, 56, 4);
}

.header__container-title.fall {
  color: rgb(223, 156, 77);
}

.header__container-title.winter {
  color: rgb(114, 134, 151);
}

@media screen and (max-width: 800px) {
  .header__logo {
    width: 100px;
  }

  .header__container-title {
    font-size: 4rem;
    max-width: 600px;
    line-height: 3.5rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .header__container-description {
    font-size: 16px;
  }
}
@media screen and (max-width: 700px) {
  .header__container-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .header__container-title {
    font-size: 2.5rem;
    max-width: 400px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  header__container-title {
    font-size: 2rem;
    line-height: 2rem;
  }
}
