.footer {
  font-size: 16px;
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 25px;
}

.footer__title {
  font-family: "Playfair Display SC", serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  padding-bottom: 1.25rem;
  color: rgb(92, 122, 106);
  padding-right: 30px;
}

.footer__names {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;
  gap: 3px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: rgb(92, 122, 106);
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: rgb(92, 122, 106);
  align-self: flex-end;
}
