.footer {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer.spring {
  background-color: rgb(92, 122, 106);
  color: rgb(244, 235, 236);
}

.footer.summer {
  background-color: rgb(194, 56, 4);
  color: rgb(244, 235, 236);
}

.footer.fall {
  background-color: rgb(223, 156, 77);
  color: rgb(244, 235, 236);
}

.footer.winter {
  background-color: rgb(114, 134, 151);
  color: rgb(244, 235, 236);
}

.footer__title {
  font-family: "Cinzel Decorative", serif;
  gap: 3px;
  font-style: italic;
  font-weight: 400;
  padding: 1.2rem 0;
  margin-top: 15px;
  font-size: 22px;
}

.footer__names {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  gap: 15px;
  font-family: "Raleway", serif;
  font-weight: 400;
}

/* .footer__names.spring {
  color: rgb(92, 122, 106);
}

.footer__names.summer {
  color: rgb(194, 56, 4);
}

.footer__names.fall {
  color: rgb(223, 156, 77);
}

.footer__names.winter {
  color: rgb(114, 134, 151);
} */

.footer__year {
  font-family: "Raleway", serif;
  color: rgb(244, 235, 236);
  padding: 0 0 1.2rem 0;
  align-self: flex-end;
  margin-right: 30px;
}
